/* arengu-form */
.arengu-form .af-form {
  margin: auto;
  --primary-color: black;
  --label-color: white;
}

.af-legal p {
  color: white;
}

.af-legal a {
  color: white;
  font-weight: bold;
}

.af-button {
  border: 1px solid white;
}