// Color Variables
$primary-color: black;
$secondary-color: #4f84c9;
$text-color: #666666;
$text-color-dark: #222222;
$text-color-light: white;
$link-color: #2BAADF;
$body-color: ghostwhite;
$body-color-dark: black;
$border-color: #ACB9C4;
$border-color-light: #959595;
$black: #000;
$white: #fff;
$gray: #f4fcff;

// Font Variables
$primary-font: 'Raleway', sans-serif;
$icon-font: 'themify';