<!-- newsletter -->
{{ partial "newsletter.html" . }}
<!-- /newsletter -->

<footer class="bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center mb-5">
        <a href="https://trackula.org/" target="_blank" rel="noopener"><img class="brand-medium" src="{{ .Site.Params.logoTrackula | absURL }}" alt="Trackula"></a>
      </div>
    </div>
  </div>
</footer>

<script>
  var indexURL = {{ "index.json" | absURL }}
</script>

{{ "<!-- JS Plugins -->" | safeHTML }}
{{ range .Site.Params.plugins.js}}
<script src="{{ .URL | absURL }}"></script>
{{ end }}
{{ "<!-- Main Script -->" | safeHTML }}
{{ $script := resources.Get "js/script.js" | minify}}
<script src="{{ $script.Permalink }}"></script>


<script>
  const section = document.querySelector('.post-content');
  const links = section.querySelectorAll('a');
  for (const link of links) {
    link.setAttribute('target', '_blank');
  };
</script>