<head>
  <meta charset="utf-8">
    <!-- Primary Meta Tags -->
  <title>Techtopias | La newsletter de privacidad</title>
  <meta name="title" content="Techtopias | La newsletter de privacidad">
  <meta name="description" content="Techtopias es una newsletter quincenal sobre privacidad, soberanía digital y libertad en internet para estar al día de las noticias mas interesantes de este mundillo.">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="author" content="Trackula">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://www.techtopias.com/">
    <meta property="twitter:title" content="Techtopias | La newsletter de privacidad">
    <meta property="twitter:description" content="Techtopias es una newsletter quincenal sobre privacidad, soberanía digital y libertad en internet para estar al día de las noticias mas interesantes de este mundillo.">
    <meta property="twitter:image" content='{{ "/images/techtopias-card.png" | absURL }}'>

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://www.techtopias.com/">
  <meta property="og:title" content="Techtopias | La newsletter de privacidad">
  <meta property="og:description" content="Techtopias es una newsletter quincenal sobre privacidad, soberanía digital y libertad en internet para estar al día de las noticias mas interesantes de este mundillo.">
  <meta property="og:image" content='{{ "/images/techtopias-card.png" | absURL }}'>


  {{ with .OutputFormats.Get "rss" -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type ("/blog/index.xml" | absURL) $.Site.Title | safeHTML }}
  {{ end -}}

  {{ hugo.Generator }}

  {{ "<!-- plugins -->" | safeHTML }}
  {{ range .Site.Params.plugins.css }}
  <link rel="stylesheet" href="{{ .URL | absURL }} ">
  {{ end }}

  {{ "<!-- Main Stylesheet -->" | safeHTML }}
  {{ $styles := resources.Get "scss/style.scss" | toCSS | minify }}
  <link rel="stylesheet" href="{{ $styles.Permalink }}" media="screen">

  {{ "<!--Favicon-->" | safeHTML }}
  <link rel="shortcut icon" href="{{ `images/favicon.png` | absURL }} " type="image/x-icon">
  <link rel="icon" href="{{ `images/favicon.png` | absURL }} " type="image/x-icon">

  <script async src="https://sdk.arengu.com/forms.js"></script>

</head>