
{{ if .Site.Params.newsletter.enable }}
<section class="section-sm bg-dark" style="padding-bottom: 0;">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="text-white">¿Qué es Techtopias?</h2>
        <p class="text-light px-md-5 py-4">
          {{ .Site.Params.newsletter.content | markdownify }}</p>
        <p class="text-light">
          La privacidad se está volviendo mainstream. Los escándalos y las noticias de políticas públicas relacionadas con la protección de nuestra vida digital están ya por todos los medios tradicionales pero es muy dificil encontrar un lugar donde obtener toda esta información.
        </p>

        <p class="text-light">
          En Trackula hemos creado esta newsletter para estar al día de las diversas <b>noticias distópicas</b> <img width="12px" src="/images/emojis/newspaper.png">, <b>políticas públicas "techies"</b> <img width="12px" src="/images/emojis/light.png">, que impacten en nuestra privacidad, <b>proyectos <img width="12px" src="/images/emojis/tube.png"> y startups</b> <img width="12px" src="/images/emojis/technologist.png"> que luchan por hacer un internet mejor, dónde obtener <b>funding <img width="12px" src="/images/emojis/money.png"> y convocatorias de proyectos</b> <img width="12px" src="/images/emojis/trophy.png"> junto con algún que otro <b>podcast <img width="12px" src="/images/emojis/micro.png"> y entrevistas</b> <img width="12px" src="/images/emojis/antenna.png"> de expertos en el tema.
        </p>
        <img width="200px" src="/images/pictures/smart-things-inverted.png">
      </div>
    </div>
  </div>
</section>
{{ end }}
