
{{ if .Site.Params.newsletter.enable }}
<section class="section-sm bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="text-white">{{ .Site.Params.newsletter.title | markdownify }}</h2>
        <p class="text-light px-md-5 py-4">
          {{ .Site.Params.newsletter.content | markdownify }}</p>
        <div class="arengu-form" data-arengu-form-id="158836390683096260"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 mx-auto text-center pt-4">
        <a class="text-white pr-2" href='{{ "/blog/index.xml" | absURL}}' target="_blank" rel="noopener"><i class="ti-rss-alt"></i></a>
        <a class="text-white" href="https://twitter.com/trackula_" target="_blank" rel="noopener"><i class="ti-twitter-alt"></i></a>
      </div>
    </div>
  </div>
</section>
{{ end }}
