{{ define "main" }}

<section class="section-sm">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 mx-auto text-center">
        <h3>Oops!</h3>
        <h4>La página que estas buscando se ha borrado o quizas no exista.</h4>
        <div class="content">
          <img width="200px" src="/images/pictures/stand.png">
        </div>
        <a href="/" class="btn btn-primary" style="text-transform: uppercase;">Volver a la home</a>
      </div>
    </div>
  </div>
</section>

{{ end }}