{{ define "main" }}

<!-- featured post -->
<section class="section-sm">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-10 featured-post-slider">
        <!-- slider item -->
        {{ range ( where .Site.RegularPages "Type" "featured" )}}
        <article class="card featured-post">
          <div class="row no-gutters align-items-center">
            <div class="col-md-5">
              {{ if .Params.Image }}
              <a href="{{ .Permalink }}">
                <img src="{{ .Params.Image | absURL }}" class="card-img" alt="{{ .Title | markdownify }}" />
              </a>
              {{ end }}
            </div>
            <div class="col-md-6 offset-md-1">
              <div class="card-body">
                <div class="mb-3 post-meta">
                  {{ if not .Params.HideDate }}
                  <!-- <span class="border-bottom border-primary px-2 mx-1"></span> -->
                  <span>{{ .PublishDate.Format "02 January 2006" }}</span>
                  {{ end }}
                </div>
                <a href="{{ .Permalink }}"
                  class="h1 font-weight-bold d-block text-dark mb-4 card-title">{{ .Title | markdownify }}</a>
                <p class="card-text">{{.Summary}}...</p>
              </div>
            </div>
          </div>
        </article>
        {{ end }}
      </div>
    </div>
  </div>
</section>
<!-- /featured post -->

<!-- more-info -->
{{ partial "more-info.html" . }}
<!-- /more-info -->

<!-- newsletter -->
{{ partial "newsletter.html" . }}
<!-- /newsletter -->

<!-- blog post -->
{{ if gt (len .Site.RegularPages) 2 }}
<section class="section-sm">
  <div class="container">
    <h2 class="text-center pb-5">Ediciones anteriores</h2>
    <div class="row">
      <div class="col-lg-12 mb-5 mb-lg-0">
        <div class="row">
          {{ $paginator := .Paginate (where .Site.RegularPages "Type" "post") }}
          {{ range $paginator.Pages }}
          <div class="col-md-3 mb-4">
            <article class="card featured-post ">
              {{ if .Params.Image }}
              <img style="height: 150px;" src="{{ .Params.Image | absURL }}" class="card-img-top" alt="{{ .Title | markdownify }}">
              {{ end }}
              <div class="card-body px-0">
                {{ range .Params.Categories }}
                <a href="{{ `categories/` | relLangURL }}{{ . | urlize | lower }}"
                  class="text-primary">{{ . | title | humanize }}</a>
                {{ end }}
                <a href="{{ .Permalink }}" class="h5 d-block my-3">{{ .Title | markdownify }}</a>
                <div class="mb-3 post-meta">
                  {{ if not .Params.HideDate }}
                  <span>{{ .PublishDate.Format "02 January 2006" }}</span>
                  {{ end }}
                </div>
              </div>
            </article>
          </div>
          {{ end }}
        </div>
      </div>

      <!-- pagination -->
      <div class="col-12 mt-5">
        {{ template "_internal/pagination.html" . }}
      </div>
    </div>
  </div>
</section>
{{ end }}

<!-- /blog post -->

{{ end }}